.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
.idea/
*.iml
**/local.properties
android/.gradle/
android/app/build/
android/app/property*/
android/key.properties
*.jks
*.keystore